/* Default CSS Code */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:focus * {
  outline: 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}

button:focus {
  outline: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

video {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

a:hover {
  text-decoration: none;
}

.font--14 {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.font--15 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.font--16 {
  font-size: 1.6rem;
}

.font--18 {
  font-size: 1.8rem;
}

.font--20 {
  font-size: 2rem;
}

.font--26 {
  font-size: 2.6rem;
}

.font--48 {
  font-size: 4.8rem;
  line-height: 2.5rem;
}

.font--80 {
  font-size: 8rem;
}

.hidden {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.custom__shadow {
  -webkit-box-shadow: 0 0.3rem 0.5rem -0.1rem rgba(9, 30, 66, 0.08);
  box-shadow: 0 0.3rem 0.5rem -0.1rem rgba(9, 30, 66, 0.08);
}

.container {
  max-width: 166rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* 

font-family: "Itim", cursive;
font-family: "Tilt Warp", sans-serif;
font-family: "Roboto Flex", sans-serif;

*/

body {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  background: #fbf4f0;
  color: #0b333c;
}

main {
  margin-top: 8rem;
}

/* Default CSS Code */

/* Header Area */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 1.6rem 0;
  background: #efad18;
  height: 8rem;
  display: flex;
  align-items: center;
}

.header .container {
  max-width: 100%;
  padding: 0 4.6rem;
}

.logo {
  width: 27.4rem;
  height: auto;
}

.logo img {
  object-fit: contain;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  position: relative;
}

.nav__links {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: max-content;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.nav__links,
.nav__social-links {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav__links li,
.nav__social-links li {
  display: flex;
}

.nav__links li a {
  font-family: "Itim", cursive;
  font-weight: 400;
  color: #fff;
  font-size: 2.6rem;
  text-transform: capitalize;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.nav__links li a:hover {
  color: #f45014;
}

.nav__social-links {
  gap: 1.2rem;
}

.nav__social-links li a {
  width: 3.8rem;
  height: 3.8rem;
}

.nav__social-links li a img {
  object-fit: contain;
}

.header--home .logo {
  display: none;
}

/* Header Area */

/* Hero Area */
.hero-area {
  padding: 3.2rem 0;
}

.hero__logo {
  width: fit-content;
  height: 15rem;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.hero__image {
  width: fit-content;
  height: 63rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.hero__image img {
  object-fit: contain;
}

.image-version {
  display: none;
}

.image-version--desktop {
  display: block;
}

.hero p {
  text-align: center;
  margin-top: 1rem;
  font-size: 3.4rem;
}

/* Hero Area */

/* Location Area */

.location-area {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background: url("../images/location-bg.jpg");
}

.location {
  display: flex;
  align-items: flex-start;
}

.location__content {
  flex: 1;
}

.location__images {
  width: 82.9rem;
  height: auto;
  margin-top: 1rem;
}

.location__map-heading {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.location__map-icon {
  width: fit-content;
  height: 6rem;
}

.location__map-info h2 {
  font-weight: 900;
  font-size: 2.4rem;
}

.location__map-info p {
  font-weight: 500;
  margin-top: 1.5rem;
  font-size: 2.2rem;
}

.location__map {
  width: 100%;
  height: 64rem;
  margin-top: 1.2rem;
  border: 1rem solid;
  border-image-slice: 10;
  border-image-repeat: round;
  border-image-source: url("data:image/svg+xml,%3Csvg%20width%3D%22110%22%20height%3D%22110%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200%20H%2035%20V%2010%20H%2010%20V%2035%20H%200%20V%200%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M110%200%20V%2035%20H%20100%20V%2010%20H%2075%20V%200%20H%20110%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M110%20110%20H%2075%20V%20100%20H%20100%20V%2075%20H%20110%20V%20110%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M0%20110%20V%2075%20H%2010%20V%20100%20H%2035%20V%20110%20H%200%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3C%2Fsvg%3E");
}

/* Location Area */

/* Footer Area */
.footer-area {
  background: #efad18;
  padding: 2.8rem 0;
}

.footer__logo {
  display: block;
  width: fit-content;
  height: 8.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* Footer Area */

/* Cause Page */

/* Cause Hero Area */
.cause-hero-area {
  padding-top: 2.4rem;
}

.cause-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 85rem;
}

.cause-hero__image {
  position: absolute;
  top: 0;
  left: 50%;
  width: fit-content;
  height: 78rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.cause-hero__image img {
  object-fit: contain;
}

.mobile-women,
.mobile-guiter {
  display: none;
}

.cause-hero__content {
  width: 100%;
  max-width: 47.5rem;
}

.mobile-logo {
  display: none;
}

.cause-hero__content p {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  line-height: 1.5;
}

.cause-hero__content p span {
  font-weight: 700;
}

.cause-hero__content p:last-of-type {
  margin-bottom: 0;
}

.give__btn {
  font-family: "Tilt Warp", sans-serif;
  font-size: 10.8rem;
  color: #fbf4f0;
  background: #0b333c;
  padding: 0.3rem 2.6rem;
  margin-top: 2rem;
  text-transform: uppercase;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.give__btn:hover {
  background: #7ebfa0;
  color: #222d35;
}

.cause-hero__partners {
  width: 100%;
  max-width: 45rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
  row-gap: 8.2rem;
}

.cause-hero__partner img {
  width: fit-content;
  height: 8.6rem;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
}

.cause-hero__partner h3 {
  font-family: "Tilt Warp", sans-serif;
  color: #0b333c;
  font-weight: 400;
  margin-top: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.cause-hero__partner .partner-logo-sm {
  height: 6.2rem;
}
/* Cause Hero Area */

/* Cause Guiter Area */
.cause-guiter-area {
  padding-top: 17.5rem;
}

.cause-guiter-area .container {
  max-width: 163.6rem;
}

.cause-guiter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 66.9rem;
}

.cause-guiter__image {
  width: fit-content;
  height: 84rem;
  position: absolute;
  bottom: -6rem;
  left: -1rem;
}

.cause-guiter__image img {
  object-fit: contain;
}

.cause-guiter__content {
  width: 100%;
  max-width: 90rem;
}

.cause-guiter__content h2 {
  font-family: "Tilt Warp", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 7rem;
}

.cause-guiter__content p {
  font-family: "Roboto Flex", sans-serif;
  margin-top: 3rem;
  font-size: 2.4rem;
  line-height: 1.7;
  font-weight: 600;
}

/* Cause Guiter Area */

/* Cause Page */
