@media (max-width: 1650.98px) {
  html {
    font-size: 50.5%;
  }
}

@media (max-width: 1199.98px) {
  .image-version--desktop {
    display: none;
  }
  .image-version--laptop {
    display: block;
  }
  .image-version--tablet {
    display: none;
  }
  .image-version--mobile {
    display: none;
  }

  html {
    font-size: 62.5%;
  }

  .font--14 {
    font-size: 1.4rem !important;
    line-height: 2rem !important;
  }

  .font--15 {
    font-size: 1.5rem !important;
    line-height: 2.4rem !important;
  }

  .font--18 {
    font-size: 1.4rem !important;
  }

  .font--20 {
    font-size: 1.4rem !important;
  }

  .font--26 {
    font-size: 1.8rem !important;
  }

  .font--48 {
    font-size: 3.2rem !important;
    line-height: 2.5rem !important;
  }

  .header .container {
    padding: 0 3.4rem;
  }

  .container {
    padding: 0 10rem;
  }

  .nav__social-links {
    gap: 0.5rem;
  }

  .nav__social-links li a {
    width: 1.9rem;
    height: 1.9rem;
  }

  .location__map-icon {
    height: 3.2rem;
  }

  .location__map-info p {
    margin-top: 0.3rem;
  }

  .location__map-heading {
    gap: 1rem;
  }

  .hero__image {
    height: 31.6rem;
  }

  .hero__logo {
    height: 7.3rem;
  }

  .location__images {
    max-width: 37.2rem;
  }

  .location {
    gap: 8rem;
  }

  .location__map {
    height: 28.6rem;
    margin-top: 2rem;
  }

  .location-area {
    padding-top: 7rem;
    padding-bottom: 0;
  }

  .location__map {
    border: 0.5rem solid;
    border-image-slice: 5;
    border-image-repeat: round;
    border-image-source: url("data:image/svg+xml,%3Csvg%20width%3D%22130%22%20height%3D%22130%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200%20H%2030%20V%205%20H%205%20V%2030%20H%200%20V%200%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M130%200%20V%2030%20H%20125%20V%205%20H%20100%20V%200%20H%20130%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M130%20130%20H%20100%20V%20125%20H%20125%20V%20100%20H%20130%20V%20130%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M0%20130%20V%20100%20H%205%20V%20125%20H%2030%20V%20130%20H%200%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3C%2Fsvg%3E");
  }

  .location__images {
    margin-top: 0;
  }

  .location__content {
    margin-top: 1rem;
  }

  .footer__logo {
    height: 4.3rem;
  }

  .footer-area {
    padding: 1.6rem 0;
  }

  .hero p {
    margin-top: 3.2rem;
  }

  .hero-area {
    padding: 1.4rem 0;
    padding-bottom: 2rem;
  }

  .nav__links {
    gap: 3rem;
  }

  .cause-hero-area .container {
    padding: 0 8.6rem;
  }

  .cause-hero__image {
    width: 44.7rem;
    height: 42rem;
  }

  .cause-hero__content {
    max-width: 24rem;
  }

  .give__btn {
    font-size: 7rem;
    line-height: 1;
    padding: 0.2rem 1.5rem;
    margin-top: 1.5rem;
  }

  .cause-hero__partners {
    max-width: 27.5rem;
    column-gap: 2.2rem;
    row-gap: 6.4rem;
  }

  .cause-hero {
    height: 42rem;
  }

  .cause-hero__partner img {
    height: 4.4rem;
  }

  .cause-hero__partner .partner-logo-sm {
    height: 3.5rem;
  }

  .cause-guiter__content {
    max-width: 46.7rem;
    padding-top: 5rem;
  }

  .cause-guiter-area .container {
    padding: 0 7.9rem;
  }

  .logo {
    width: 14.8rem;
  }

  .cause-guiter__content p {
    line-height: 2.5rem;
  }

  .cause-guiter__image {
    width: 46.7rem;
    height: auto;
    position: absolute;
    bottom: -4.5rem;
    left: -0.6rem;
  }

  .cause-guiter-area {
    padding-top: 0;
  }

  .cause-guiter {
    height: 43.4rem;
  }
}

@media (max-width: 992.98px) {
  .image-version--desktop {
    display: none;
  }
  .image-version--laptop {
    display: none;
  }
  .image-version--tablet {
    display: block;
  }
  .image-version--mobile {
    display: none;
  }

  .header .container {
    padding: 0 4.4rem;
  }

  .container {
    padding: 0 2.6rem;
  }

  .hero-area {
    padding: 2.4rem 0;
    padding-bottom: 1rem;
  }

  .location-area {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }

  .location__images {
    max-width: 35.7rem;
  }

  .location {
    gap: 0;
  }

  .cause-hero-area .container {
    padding: 0 3.1rem;
  }

  .cause-guiter-area .container {
    padding: 0 2.3rem;
  }

  .cause-hero {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10.5rem;
  }

  .cause-hero__content {
    margin-top: 6.5rem;
  }

  .cause-hero__content {
    max-width: 29.4rem;
  }

  .cause-hero__image {
    width: 44rem;
    height: 40.2rem;
    left: auto;
    right: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .cause-hero__partners {
    max-width: 27.5rem;
    column-gap: 2.2rem;
    row-gap: 6.4rem;
  }

  .cause-hero__partners {
    max-width: 100%;
    gap: 4.6rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .cause-hero__content p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .give__btn {
    font-size: 8rem;
    line-height: 1;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
  }

  .cause-hero__partner img {
    height: 6.1rem;
  }

  .cause-hero__partner .partner-logo-sm {
    height: 6.1rem;
  }

  .cause-guiter {
    height: 46rem;
  }

  .cause-guiter__content {
    max-width: 31.6rem;
    padding-top: 5rem;
  }

  .cause-guiter__content p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .cause-guiter__image {
    width: 48.7rem;
    height: auto;
    position: absolute;
    bottom: -4.5rem;
    left: -0.8rem;
  }

  .hero-area,
  .location-area,
  .cause-hero-area {
    min-height: auto;
  }
}

@media (max-width: 576.98px) {
  .image-version--desktop {
    display: none;
  }
  .image-version--laptop {
    display: none;
  }
  .image-version--tablet {
    display: none;
  }
  .image-version--mobile {
    display: block;
  }

  .font--18 {
    font-size: 2.2rem !important;
  }

  .font--20 {
    font-size: 2.5rem !important;
  }

  .font--26 {
    font-size: 2.6rem !important;
  }

  .nav__logo-area,
  .nav__social-links {
    display: none;
  }

  .header .container {
    padding: 0 2rem;
  }

  .container {
    padding: 0 2rem;
  }

  .nav {
    justify-content: center;
  }

  .header {
    height: 8.9rem;
  }

  .nav__links {
    gap: 10rem;
  }

  .hero__logo {
    height: 5.8rem;
  }

  main {
    margin-top: 8.9rem;
  }

  .hero-area {
    padding: 1rem 0;
    padding-bottom: 2.3rem;
  }

  .hero__image {
    width: 100%;
    height: auto;
    margin-top: 4rem;
  }

  .hero p {
    margin-top: 4rem;
  }

  .location {
    flex-direction: column;
    align-items: center;
  }

  .location__content {
    margin-top: 0;
  }

  .location__map-heading {
    flex-direction: column;
    align-items: center;
  }

  .location__map-info {
    text-align: center;
  }

  .location__map-heading {
    gap: 2.7rem;
  }

  .location__map-icon {
    height: 6.6rem;
  }

  .location-area {
    padding-top: 4.1rem;
    padding-bottom: 6.5rem;
  }

  .location__map-info p {
    margin-top: 2rem;
  }

  .location__content {
    width: 100%;
  }

  .location__map {
    height: 61.7rem;
    margin-top: 5rem;
  }

  .location__images {
    margin-top: 4.1rem;
  }

  .cause-hero__image {
    width: calc(100% + 4rem);
    height: 47.9rem;
    top: -2.5rem;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .desktop-women,
  .desktop-guiter {
    display: none;
  }

  .mobile-women,
  .mobile-guiter {
    display: block;
  }

  .mobile-logo {
    display: block;
    width: fit-content;
    height: 3.9rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  .mobile-logo img {
    object-fit: contain;
  }

  .cause-hero__content {
    margin-top: 49rem;
    max-width: 100%;
  }

  .cause-hero__content p {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }

  .give__btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }

  .cause-hero {
    gap: 6.8rem;
  }

  .cause-hero__partners {
    max-width: 34.4rem;
    column-gap: 7.4rem;
    row-gap: 2.8rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
  }

  .cause-guiter {
    height: 91rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cause-guiter__content {
    padding-top: 0;
  }

  .cause-guiter-area {
    padding-top: 8rem;
  }

  .cause-guiter__content {
    max-width: 100%;
  }

  .cause-guiter__content h2 {
    font-size: 4.2rem;
  }

  .cause-guiter__content p {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }

  .cause-guiter__image {
    width: calc(100% + 4rem);
    bottom: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
