@media (max-width: 1199.98px) {
  .image-version--desktop {
    display: none;
  }
  .image-version--laptop {
    display: block;
  }
  .image-version--tablet {
    display: none;
  }
  .image-version--mobile {
    display: none;
  }

  .font--14 {
    font-size: 14px;
    line-height: 20px;
  }

  .font--15 {
    font-size: 12px;
    line-height: 20px;
  }

  .font--18 {
    font-size: 12px;
  }

  .font--20 {
    font-size: 14px;
  }

  .font--26 {
    font-size: 18px;
  }

  .font--48 {
    font-size: 32px;
    line-height: 25px;
  }

  .header .container {
    padding: 0 34px;
  }

  .container {
    padding: 0 100px;
  }

  .nav__social-links {
    gap: 5px;
  }

  .nav__social-links li a {
    width: 19px;
    height: 19px;
  }

  .location__map-icon {
    height: 42px;
  }

  .location__map-info p {
    margin-top: 3px;
  }

  .location__map-heading {
    gap: 10px;
  }

  .hero__image {
    height: 316px;
  }

  .hero__logo {
    height: 73px;
  }

  .location__images {
    max-width: 372px;
  }

  .location {
    gap: 80px;
  }

  .location__map {
    height: 286px;
    margin-top: 20px;
  }

  .location-area {
    padding-top: 70px;
    padding-bottom: 0;
  }

  .location__map {
    border: 5px solid;
    border-image-slice: 5;
    border-image-repeat: round;
    border-image-source: url("data:image/svg+xml,%3Csvg%20width%3D%22130%22%20height%3D%22130%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200%20H%2030%20V%205%20H%205%20V%2030%20H%200%20V%200%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M130%200%20V%2030%20H%20125%20V%205%20H%20100%20V%200%20H%20130%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M130%20130%20H%20100%20V%20125%20H%20125%20V%20100%20H%20130%20V%20130%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M0%20130%20V%20100%20H%205%20V%20125%20H%2030%20V%20130%20H%200%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3C%2Fsvg%3E");
  }

  .location__images {
    margin-top: 0;
  }

  .location__content {
    margin-top: 10px;
  }

  .footer__logo {
    height: 43px;
  }

  .footer-area {
    padding: 16px 0;
  }

  .hero p {
    margin-top: 32px;
  }

  .hero-area {
    padding: 14px 0;
    padding-bottom: 20px;
  }

  .nav__links {
    gap: 30px;
  }

  .cause-hero-area .container {
    padding: 0 86px;
  }

  .cause-hero__image {
    width: 447px;
    height: 420px;
  }

  .cause-hero__content {
    max-width: 240px;
  }

  .give__btn {
    font-size: 70px;
    line-height: 1;
    padding: 2px 15px;
    margin-top: 15px;
  }

  .cause-hero__partners {
    max-width: 275px;
    column-gap: 22px;
    row-gap: 64px;
  }

  .cause-hero {
    height: 420px;
  }

  .cause-hero__partner img {
    height: 44px;
  }

  .cause-hero__partner .partner-logo-sm {
    height: 35px;
  }

  .cause-guiter__content {
    max-width: 467px;
    padding-top: 50px;
  }

  .cause-guiter-area .container {
    padding: 0 89px;
  }

  .cause-guiter__content p {
    line-height: 25px;
  }

  .cause-guiter__image {
    width: 467px;
    height: auto;
    position: absolute;
    bottom: -45px;
    left: -6px;
  }

  .cause-guiter-area {
    padding-top: 0;
  }

  .cause-guiter {
    height: 434px;
  }
}

@media (max-width: 992.98px) {
  .image-version--desktop {
    display: none;
  }
  .image-version--laptop {
    display: none;
  }
  .image-version--tablet {
    display: block;
  }
  .image-version--mobile {
    display: none;
  }

  .header .container {
    padding: 0 44px;
  }

  .container {
    padding: 0 26px;
  }

  .hero-area {
    padding: 24px 0;
    padding-bottom: 10px;
  }

  .location-area {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .location__images {
    max-width: 357px;
  }

  .location {
    gap: 0;
  }

  .cause-hero-area .container {
    padding: 0 31px;
  }

  .cause-guiter-area .container {
    padding: 0 23px;
  }

  .cause-hero {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 105px;
  }

  .cause-hero__content {
    margin-top: 65px;
  }

  .cause-hero__content {
    max-width: 294px;
  }

  .cause-hero__image {
    width: 480px;
    height: 452px;
    left: auto;
    right: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .cause-hero__partners {
    max-width: 275px;
    column-gap: 22px;
    row-gap: 64px;
  }

  .cause-hero__partners {
    max-width: 100%;
    gap: 46px;
    grid-template-columns: repeat(4, 1fr);
  }

  .cause-hero__content p {
    font-size: 15px;
    line-height: 25px;
  }

  .give__btn {
    font-size: 80px;
    line-height: 1;
    padding: 10px 20px;
    margin-top: 15px;
  }

  .cause-hero__partner img {
    height: 61px;
  }

  .cause-hero__partner .partner-logo-sm {
    height: 61px;
  }

  .cause-guiter {
    height: 460px;
  }

  .cause-guiter__content {
    max-width: 316px;
    padding-top: 50px;
  }

  .cause-guiter__content p {
    font-size: 15px;
    line-height: 25px;
  }

  .cause-guiter__image {
    width: 487px;
    height: auto;
    position: absolute;
    bottom: -45px;
    left: -8px;
  }

  .hero-area,
  .location-area,
  .cause-hero-area {
    min-height: auto;
  }
}

@media (max-width: 576.98px) {
  .image-version--desktop {
    display: none;
  }
  .image-version--laptop {
    display: none;
  }
  .image-version--tablet {
    display: none;
  }
  .image-version--mobile {
    display: block;
  }

  .font--18 {
    font-size: 22px;
  }

  .font--20 {
    font-size: 25px;
  }

  .font--26 {
    font-size: 26px;
  }

  .nav__logo-area,
  .nav__social-links {
    display: none;
  }

  .header .container {
    padding: 0 20px;
  }

  .container {
    padding: 0 20px;
  }

  .nav {
    justify-content: center;
  }

  .header {
    height: 89px;
  }

  .nav__links {
    gap: 100px;
  }

  .hero__logo {
    height: 58px;
  }

  main {
    margin-top: 89px;
  }

  .hero-area {
    padding: 10px 0;
    padding-bottom: 23px;
  }

  .hero__image {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }

  .hero p {
    margin-top: 40px;
  }

  .location {
    flex-direction: column;
    align-items: center;
  }

  .location__content {
    margin-top: 0;
  }

  .location__map-heading {
    flex-direction: column;
    align-items: center;
  }

  .location__map-info {
    text-align: center;
  }

  .location__map-heading {
    gap: 27px;
  }

  .location__map-icon {
    height: 76px;
  }

  .location-area {
    padding-top: 41px;
    padding-bottom: 65px;
  }

  .location__map-info p {
    margin-top: 20px;
  }

  .location__content {
    width: 100%;
  }

  .location__map {
    height: 617px;
    margin-top: 50px;
  }

  .location__images {
    margin-top: 41px;
  }

  .cause-hero__image {
    width: calc(100% + 40px);
    height: 479px;
    top: -25px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .desktop-women,
  .desktop-guiter {
    display: none;
  }

  .mobile-women,
  .mobile-guiter {
    display: block;
  }

  .mobile-logo {
    display: block;
    width: fit-content;
    height: 39px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .mobile-logo img {
    object-fit: contain;
  }

  .cause-hero__content {
    margin-top: 490px;
    max-width: 100%;
  }

  .cause-hero__content p {
    font-size: 22px;
    line-height: 35px;
  }

  .give__btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }

  .cause-hero {
    gap: 68px;
  }

  .cause-hero__partners {
    max-width: 344px;
    column-gap: 74px;
    row-gap: 28px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
  }

  .cause-guiter {
    height: 910px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cause-guiter__content {
    padding-top: 0;
  }

  .cause-guiter-area {
    padding-top: 80px;
  }

  .cause-guiter__content {
    max-width: 100%;
  }

  .cause-guiter__content h2 {
    font-size: 42px;
  }

  .cause-guiter__content p {
    font-size: 22px;
    line-height: 35px;
  }

  .cause-guiter__image {
    width: calc(100% + 40px);
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
