@media (max-width: 1650.98px) {
  html {
    font-size: 50.5%;
  }

  .about-hero {
    max-width: 100%;
    padding: 0 70px;
  }
}

@media (max-width: 1199.98px) {
  .image-version--desktop {
    display: none;
  }
  .image-version--laptop {
    display: block;
  }
  .image-version--tablet {
    display: none;
  }
  .image-version--mobile {
    display: none;
  }

  .cause-hero__partners.image-version--desktop {
    display: grid !important;
  }

  html {
    font-size: 62.5%;
  }

  /* .font--14 {
    font-size: 1.4rem !important;
    line-height: 2rem !important;
  }

  .font--15 {
    font-size: 1.5rem !important;
    line-height: 2.4rem !important;
  }

  .font--18 {
    font-size: 1.4rem !important;
  }

  .font--20 {
    font-size: 1.4rem !important;
  }

  .font--26 {
    font-size: 1.8rem !important;
  }

  .font--48 {
    font-size: 3.2rem !important;
    line-height: 2.5rem !important;
  } */

  .header .container {
    padding: 0 3.4rem;
  }

  .container {
    padding: 0 10rem;
  }

  .nav__social-links {
    gap: 0.5rem;
  }

  .nav__social-links li a {
    width: 1.9rem;
    height: 1.9rem;
  }

  .location__map-icon {
    height: 3.2rem;
  }

  .location__map-info p {
    margin-top: 0.3rem;
    font-size: 1.4rem;
  }

  .location__map-heading {
    gap: 1rem;
  }

  .hero__image {
    height: 31.6rem;
  }

  .hero__logo {
    height: 7.3rem;
  }

  .location__images {
    max-width: 37.2rem;
  }

  .location {
    gap: 8rem;
  }

  .location__map {
    height: 28.6rem;
    margin-top: 2rem;
  }

  .location-area {
    padding-top: 7rem;
    padding-bottom: 0;
  }

  .location__map {
    border: 0.5rem solid;
    border-image-slice: 5;
    border-image-repeat: round;
    border-image-source: url("data:image/svg+xml,%3Csvg%20width%3D%22130%22%20height%3D%22130%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200%20H%2030%20V%205%20H%205%20V%2030%20H%200%20V%200%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M130%200%20V%2030%20H%20125%20V%205%20H%20100%20V%200%20H%20130%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M130%20130%20H%20100%20V%20125%20H%20125%20V%20100%20H%20130%20V%20130%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3Cpath%20d%3D%22M0%20130%20V%20100%20H%205%20V%20125%20H%2030%20V%20130%20H%200%22%20fill%3D%22rgb(234%2C219%2C151)%22%20%2F%3E%3C%2Fsvg%3E");
  }

  .location__images {
    margin-top: 0;
  }

  .location__content {
    margin-top: 1rem;
  }

  .footer__logo {
    height: 4.3rem;
  }

  .footer-area {
    padding: 1.6rem 0;
  }

  .hero p {
    margin-top: 3.2rem;
    font-size: 1.8rem;
  }

  .hero-area {
    padding: 1.4rem 0;
    padding-bottom: 2rem;
  }

  .nav__links {
    gap: 3rem;
  }

  .cause-hero-area .container {
    padding: 0 3.6rem;
  }

  .cause-hero__image {
    width: 44.7rem;
    height: 42rem;
  }

  .cause-hero__content {
    max-width: 24rem;
  }

  .give__btn {
    font-size: 7rem;
    line-height: 1;
    padding: 0.2rem 1.5rem;
    margin-top: 1.5rem;
  }

  .cause-hero__partners {
    max-width: 27.5rem;
    column-gap: 2.2rem;
    row-gap: 6.4rem;
  }

  .cause-hero {
    height: 42rem;
  }

  .cause-hero__partner img {
    height: 4.4rem;
  }

  .cause-hero__partner .partner-logo-sm {
    height: 3.5rem;
  }

  .cause-guiter__content {
    max-width: 46.7rem;
    padding-top: 5rem;
  }

  .cause-guiter-area .container {
    padding: 0 7.9rem;
  }

  .logo {
    width: 14.8rem;
  }

  .cause-guiter__image {
    width: 46.7rem;
    height: auto;
    position: absolute;
    bottom: -4.5rem;
    left: -0.6rem;
  }

  .cause-guiter-area {
    padding-top: 0;
  }

  .cause-guiter {
    height: 43.4rem;
  }

  .nav__links li a {
    font-size: 1.4rem;
  }

  .cause-hero__content p {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .cause-hero__partner h3 {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .cause-guiter__content h2 {
    font-size: 3.2rem;
    line-height: 2.5rem;
  }

  .cause-guiter__content p {
    font-size: 1.4rem;
  }

  .location__map-info h2 {
    font-size: 1.4rem;
  }

  .cause-donate__items {
    height: 300px;
  }

  .cause-donate__video-items {
    height: 370px;
  }

  .about-hero {
    max-width: 100%;
    padding: 0;
  }

  .about-hero-area .container {
    padding: 0 7rem;
  }

  .about-hero__content {
    max-width: 600px;
  }

  .about__hand-crafted img {
    width: 90px;
    height: auto;
    object-fit: contain;
  }

  .about__hand-crafted {
    top: -20px;
    right: -65px;
  }

  .about-hero-area {
    padding: 70px 0;
  }
}

@media (max-width: 992.98px) {
  .image-version--desktop {
    display: none;
  }
  .image-version--laptop {
    display: none;
  }
  .image-version--tablet {
    display: block;
  }
  .image-version--mobile {
    display: none;
  }

  .header .container {
    padding: 0 4.4rem;
  }

  .container {
    padding: 0 2.6rem;
  }

  .hero-area {
    padding: 2.4rem 0;
    padding-bottom: 1rem;
  }

  .location-area {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }

  .location__images {
    max-width: 35.7rem;
  }

  .location {
    gap: 0;
  }

  .cause-hero-area .container {
    padding: 0 3.1rem;
  }

  .cause-guiter-area .container {
    padding: 0 2.3rem;
  }

  .cause-hero {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10.5rem;
  }

  .cause-hero__content {
    margin-top: 6.5rem;
  }

  .cause-hero__content {
    max-width: 29.4rem;
  }

  .cause-hero__image {
    width: 44rem;
    height: 40.2rem;
    left: auto;
    right: 0;
    transform: translateX(0) scale(1.1);
    -webkit-transform: translateX(0) scale(1.1);
    -moz-transform: translateX(0) scale(1.1);
    -ms-transform: translateX(0) scale(1.1);
    -o-transform: translateX(0) scale(1.1);
  }

  .cause-hero__image.show {
    transform: translateX(0) scale(1);
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
  }

  .cause-hero__partners {
    max-width: 100%;
    gap: 4.6rem;
    grid-template-columns: repeat(5, 1fr);
  }

  .cause-hero__partner {
    justify-content: center;
  }

  .cause-hero__content p {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .give__btn {
    font-size: 8rem;
    line-height: 1;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
  }

  .cause-hero__partner img {
    height: 6.1rem;
  }

  .cause-hero__partner .partner-logo-sm {
    height: 6.1rem;
  }

  .cause-guiter {
    height: 46rem;
  }

  .cause-guiter__content {
    max-width: 31.6rem;
    padding-top: 5rem;
  }

  .cause-guiter__image {
    width: 48.7rem;
    height: auto;
    position: absolute;
    bottom: -4.5rem;
    left: -0.8rem;
  }

  .hero-area,
  .location-area,
  .cause-hero-area {
    min-height: auto;
  }

  body {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .cause-donate__item h2 {
    font-size: 26px;
  }

  .cause-donate__item img {
    height: 36px;
  }

  .cause-donate__items {
    height: 210px;
  }

  .cause-donate__video-items {
    height: 220px;
  }

  .donate-contact__item h3,
  .donate-contact__item p,
  .donate-contact__item a,
  .donate-contact__email,
  .donate-contact__email a {
    font-size: 14px;
  }

  .donate-contact__note {
    text-align: left;
  }

  .donate-contact__items {
    max-width: 610px;
    margin-top: 40px;
  }

  .donate-contact__email {
    margin-top: 60px;
  }

  .donate-contact-area {
    padding-top: 45px;
    padding-bottom: 30px;
  }

  .about-hero-area .container {
    padding: 0 5rem;
  }

  .about-space--left {
    margin-left: 16px;
  }

  .about-hero__title {
    width: 100%;
    max-width: 277px;
    position: relative;
    height: 55px;
  }

  .about-hero__title h1 {
    font-size: 30px;
    padding-top: 18px;
    padding-left: 8px;
  }

  .about__hand-crafted {
    right: -46px;
  }

  .about__grand-area {
    height: 100px;
  }

  .about__grand-layer {
    top: 70%;
  }

  .about-hero__descs p,
  .about-hero__cause p {
    font-size: 14px;
  }

  .about-hero__content {
    max-width: 580px;
  }

  .about__grand-area {
    margin: 70px 0;
  }

  .about__hand-crafted {
    flex-direction: column-reverse;
    gap: 5px;
  }

  .about__hand-crafted h4 {
    font-size: 14px;
  }

  .about__line {
    max-width: 260px;
  }
}

@media (max-width: 576.98px) {
  .image-version--desktop {
    display: none;
  }
  .image-version--laptop {
    display: none;
  }
  .image-version--tablet {
    display: none;
  }
  .image-version--mobile {
    display: block;
  }

  /* .font--18 {
    font-size: 2.2rem !important;
  }

  .font--20 {
    font-size: 2.5rem !important;
  }

  .font--26 {
    font-size: 2.6rem !important;
  } */

  .nav__logo-area,
  .nav__social-links {
    display: none;
  }

  .header .container {
    padding: 0 2rem;
  }

  .container {
    padding: 0 2rem;
  }

  .nav {
    justify-content: center;
  }

  .header {
    height: 8.9rem;
  }

  .nav__links {
    gap: 3rem;
  }

  .hero__logo {
    height: 5.8rem;
  }

  main {
    margin-top: 8.9rem;
  }

  .hero-area {
    padding: 1rem 0;
    padding-bottom: 2.3rem;
  }

  .hero__image {
    width: 100%;
    height: auto;
    margin-top: 4rem;
  }

  .hero p {
    margin-top: 4rem;
    font-size: 2.6rem;
  }

  .location {
    flex-direction: column;
    align-items: center;
  }

  .location__content {
    margin-top: 0;
  }

  .location__map-heading {
    flex-direction: column;
    align-items: center;
  }

  .location__map-info {
    text-align: center;
  }

  .location__map-heading {
    gap: 2.7rem;
  }

  .location__map-icon {
    height: 6.6rem;
  }

  .location-area {
    padding-top: 4.1rem;
    padding-bottom: 6.5rem;
  }

  .location__map-info p {
    margin-top: 2rem;
    font-size: 2.2rem;
  }

  .location__content {
    width: 100%;
  }

  .location__map {
    height: 61.7rem;
    margin-top: 5rem;
  }

  .location__images {
    margin-top: 4.1rem;
  }

  .cause-hero__image {
    width: calc(100% + 4rem);
    height: 35.9rem;
    top: -2.5rem;
    right: auto;
    left: 50%;
    transform: translateX(-50%) scale(1.1);
    -webkit-transform: translateX(-50%) scale(1.1);
    -moz-transform: translateX(-50%) scale(1.1);
    -ms-transform: translateX(-50%) scale(1.1);
    -o-transform: translateX(-50%) scale(1.1);
  }

  .cause-hero__image.show {
    transform: translateX(-50%) scale(1);
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
  }

  .desktop-women,
  .desktop-guiter {
    display: none;
  }

  .mobile-women,
  .mobile-guiter {
    display: block;
  }

  .mobile-logo {
    display: block;
    width: fit-content;
    height: 3.9rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  .mobile-logo img {
    object-fit: contain;
  }

  .cause-hero__content {
    margin-top: 36rem;
    max-width: 100%;
  }

  .give__btn {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: none;
  }

  .cause-hero {
    gap: 6.8rem;
  }

  .cause-hero__partners {
    max-width: 34.4rem;
    column-gap: 7.4rem;
    row-gap: 2.8rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
  }

  .cause-guiter {
    height: 91rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cause-guiter__content {
    padding-top: 0;
  }

  .cause-guiter-area {
    padding-top: 8rem;
  }

  .cause-guiter__content {
    max-width: 100%;
  }

  .cause-guiter__content p {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }

  .cause-guiter__image {
    width: calc(100% + 4rem);
    bottom: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .nav__links li a {
    font-size: 1.8rem;
  }

  .location__map-info h2 {
    font-size: 2.2rem;
  }

  .cause-hero__partner {
    justify-content: flex-start;
  }

  .cause-hero__partners.image-version--mobile {
    display: grid !important;
    margin-bottom: 25px;
  }

  .cause-donate__item p {
    text-align: center;
    padding: 0 15px;
  }

  .cause-donate__items {
    height: 210px;
  }

  .cause-donate__item img {
    height: 32px;
  }

  .cause-donate__video-items {
    flex-direction: column-reverse;
    align-items: flex-start;
    height: auto;
  }

  .cause-donate__video-item {
    width: 100%;
  }

  .cause-donate__video-item--youtube {
    padding: 25px 0;
  }

  .donate-contact__items {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .donate-contact__item {
    text-align: center;
    border-bottom: 0.1rem solid #000;
    padding: 0 2rem;
    padding-bottom: 2.5rem;
  }

  body {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  .cause-hero__partners.image-version--desktop {
    display: none !important;
  }

  .cause-donate__item {
    gap: 2.4rem;
  }

  .cause-hero-area {
    padding-bottom: 4rem;
  }

  .cause-donate__youtube {
    width: calc(100% - 4rem);
  }

  .donation-area {
    padding: 30px 0;
  }

  .donation-area h1 {
    font-size: 22px;
  }

  .about-hero-area .container {
    padding: 0 2rem;
  }

  .about-space--left {
    margin-left: 0;
  }

  .about-hero__title {
    max-width: 233px;
    height: 65px;
  }

  .about-hero__title::after {
    background-size: cover;
  }

  .about-hero__title h1 {
    font-size: 36px;
    padding-top: 12px;
    padding-left: 12px;
  }

  .about__hand-crafted h4 {
    display: none;
  }

  .about__hand-crafted img {
    width: 140px;
  }

  .about__hand-crafted {
    right: -58px;
    top: -74px;
  }

  .about-hero-area {
    padding: 50px 0;
  }

  .about-hero__descs p,
  .about-hero__cause p {
    font-size: 16px;
  }

  .about__grand-area {
    height: auto;
    margin: 30px 0;
  }

  .about__grand-layer {
    position: static;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .about-hero__cause h3 {
    font-size: 38px;
    line-height: 1.15;
    margin-right: 10px;
  }

  .about__line {
    margin: 0 auto;
  }
}
